<% if flash[:notice] %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="notice alert alert-success col-md-6 "><%= flash[:notice] %></div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="alert alert-danger col-md-6 "><%= flash[:alert] %></div>
  </div>
<% end %>
<div>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "首頁", root_path %></li>
    <li role="presentation"><%= link_to "最新動態", feeds_restaurants_path %></li>
    <li role="presentation"><%= link_to "Top 10 人氣餐廳", ranking_restaurants_path %></li> 
    <li role="presentation" class="active"><%= link_to "美食達人", users_path %></li>      
  </ul>
</div>
<div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="user-item col-xs-6 col-md-2">
        <div class="user-imgbox">
          <div class="user-imgbox-inner">
            <%= image_tag user.avatar, class: "image-responsive center-block" %>
          </div>
        </div>
        <div class="text-center">
          <%= link_to user.name, user_path(user), style: "text-decoration: none"%>
          <div>
            <%= render partial: "shared/follow", locals: {user: user} %>
            <% if current_user.following?(user) %>
              <em class="followers-count-show"><%= user.followers.size %></em>
            <% else %>
              <em class="followers-count-transt"><%= user.followers.size %></em>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
