<div class="all-restaurant">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="col-sm-4 ">
      <div class="restaurant-item">

        <div class="restaurant-imgbox">
          <div class="imgbox-inner">
        <%= image_tag restaurant.image, class:"restaurant-image image-responsive center-block"%>
          </div>
        </div>
        <div class="caption">
          <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
          <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
          <%= render partial: "shared/like", locals: {restaurant: restaurant} %>
          <div style="display: block"> 
            <p class="label label-default"><%= restaurant.category.name%></p>
          </div>                              
          <p class="restaurant-discription"><%= truncate(restaurant.description, length: 80) %></p>
        </div>
        
      </div>
      </div> 
    <% end %>

  </div>
  <div id="paginate" >
    <%= paginate @restaurants,  window: 2%>
  </div>
</div> 