<div id="my-nav" class="navbar navbar-inverse navbar-fixed-top navbar-collapse">
  <div class="container container-fluid col-xs-12 col-sm-12  col-md-offset-2 col-md-9 col-lg-offset-2 col-lg-8">
    <div id="nav-title">
      <%= link_to '餐廳評論網', root_path, class: "btn navbar-btn col-xs-5 col-sm-5 col-md-3 col-lg-3"%>
    </div>
    <ul class="menu">
      <li>
        <%= link_to '管理者後台', admin_restaurants_path, class: "btn navbar-btn" %>
        <%= link_to '登出', destroy_user_session_path, class: "pull-right btn navbar-btn", method: :delete if user_signed_in?  %>
        <%= link_to '登入', user_session_path, class: "pull-right btn navbar-btn" if !user_signed_in? %>           
      </li>
    </ul>
  </div>
</div>
<div id="content">
  <div class="container container-fluid col-xs-12 col-sm-12 col-md-offset-2 col-md-9 col-lg-offset-2 col-lg-8">
    <div class="all-restaurant">
      <% if flash[:notice] %>
        <div class="notice alert alert-success col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6"><%= flash[:notice] %></div>
      <% end %>
      <div id="new-restaurant-btn" class="pull-right">
        <%= link_to '', new_admin_restaurant_path, class: "btn glyphicon glyphicon-plus" %>
      </div>
      <table id="restaurant-table" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Catrgory</th>
            <th>Name</th>
            <th colspan="2">Method</th>
          </tr>
        </thead>
        <% @restaurants.each do |restaurant| %>
          <tr>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
              <%= restaurant.id %>
            </td>
            <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              [<%= restaurant.category.name %>] 
            </td>
            <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <%= link_to "#{restaurant.name}", admin_restaurant_path(restaurant), class: "btn" %>
            </td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
               <%= link_to '', edit_admin_restaurant_path(restaurant), class: "btn glyphicon glyphicon-pencil"%>
            </td>
            <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
               <%= link_to '', admin_restaurant_path(restaurant), class: "btn glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?" } %>
            </td>
          </tr>
        <% end %>
      </table>      
    </div>
    <div id="paginate">
      <%= paginate @restaurants,  window: 2 %>
    </div>
  </div>
</div>


