<div id="content">
  <div class="container container-fluid col-xs-12 col-sm-12 col-md-offset-2 col-md-9 col-lg-offset-2 col-lg-8">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
      <table id="show-tabel" class="table table-striped">
        <tr>
          <td colspan="2"><%= image_tag @restaurant.image, width: '600px' %></td>
        </tr>
        <tr>
          <td><%= label_tag 'Category' %></td>
          <td><%= @restaurant.category.name %></td>
        </tr>
        <tr>
          <td><%= label_tag 'Name' %></td>
          <td><%= @restaurant.name %></td>
        </tr>
        <tr>
          <td><%= label_tag 'Tel'%></td>
          <td><%= @restaurant.tel %></td>
        </tr>
          <tr>
          <td><%= label_tag 'Address'%></td>
          <td><%= @restaurant.address %></td>
        </tr>
        </tr>
          <tr>
          <td><%= label_tag 'Opening_hours'%></td>
          <td><%= @restaurant.opening_hours%></td>
        </tr>
        <tr>
          <td><%= label_tag 'description'%></td>
          <td><%= @restaurant.description%></td>
        </tr>
      </table>
      <div id="table-submit">
        <%= link_to 'Back', admin_restaurants_path, class: "btn btn-danger" %>
        <%= link_to 'Edit', edit_admin_restaurant_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>  

