<div>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "首頁", root_path %></li>
    <li role="presentation" class="active"><%= link_to "最新動態", feeds_restaurants_path %></li>    
  </ul>
</div>
<br >
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">最新餐廳</h3>
      </div>
      <div class="panel-body">
        <% @recent_restaurants.each_with_index do |restaurant, index| %>
          <h4><%= link_to restaurant.name, restaurant_path(restaurant) %></h4>
          <p><%= restaurant.category.name %></p>
          <p><%= restaurant.description %></p>
          <% if index != 9 %>
            <hr />
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">最新評論</h3>
      </div>
      <div class="panel-body">
        <% @recent_comments.each_with_index do |comment, index| %>
          <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
          <p><%= comment.content %></p>
          <p><%= link_to comment.user.name, user_path(comment.user) %></p>
          <% if index != 9 %>
            <hr />
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

