<div id="content">
  <div class="container container-fluid col-xs-12 col-sm-12 col-md-offset-2 col-md-9 col-lg-offset-2 col-lg-8">
    <ul class="nav nav-pills nav-pills-center">
      <li role="presentation"><%= link_to '全部餐廳', restaurants_path %></li>
      <% @categories.each do |category| %>
        <li role="presentation"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
    <div class="all-restaurant">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
        <div class="col-xs-6 col-sm-4  col-md-4  col-lg-4">
          <div class="restaurant-item">
            <%= image_tag restaurant.image, class:"restaurant-image image-responsive center-block"%>
            <div class="caption">
              <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
              <p class="label label-default"><%= restaurant.category.name%></p>
              <p style="margin-top: 10px"><%= truncate(restaurant.description, length: 80) %></p>
            </div>
          </div>
          </div> 
        <% end %>

      </div>
      <div id="paginate" >
        <%= paginate @restaurants,  window: 2%>
      </div>
    </div> 
  </div>
</div>