<div class="show-header">
  <h1><%= @restaurant.name %></h1>
  <p class="label label-default"><%= @restaurant.category.name %></p>
  <%= render partial: "shared/like", locals: {restaurant: @restaurant} %>
  <%= link_to '', dashboard_restaurant_path(@restaurant), class: "dashboard-btn glyphicon glyphicon-stats" %>
  <%= render partial: "shared/favorite", locals: {restaurant: @restaurant} %>
</div>
<div class="show-item row">
  <div class="col-md-6">
    <div class="restaurant-imgbox">
      <div class="imgbox-inner">
        <%= image_tag @restaurant.image, width: "100%", class:"image-responsive center-block"%>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <table id="show-tabel" class="table table-striped">
      <tr>
        <td><%= label_tag 'Tel'%></td>
        <td><%= @restaurant.tel %></td>
      </tr>
        <tr>
        <td><%= label_tag 'Address'%></td>
        <td><%= @restaurant.address %></td>
      </tr>
      </tr>
        <tr>
        <td><%= label_tag 'Opening_hours'%></td>
        <td><%= @restaurant.opening_hours%></td>
      </tr>
      <tr>
        <td><%= label_tag 'description'%></td>
        <td><%= @restaurant.description%></td>
      </tr>
    </table>
  </div>
</div>
</div>
<div class="container comment-all col-md-offset-2 col-md-8">
<% @restaurant.comments.each do |comment| %>
<hr />
<div>
  <h4><%= comment.user.name %></h4>
  <p><%= simple_format comment.content %></p>
  <p class="text-muted">
    <em>
      <%= time_ago_in_words(comment.created_at) + ' ago' %>
      <% if current_user.admin? %>
        <%= "-" %> 
        <%= link_to 'Delete', restaurant_comment_path(@restaurant, comment), method: :delete, data: { confirm: "Are you sure?"}%>
      <% end %>
    </em>
  </p>
</div>
<% end %>
</div>
<div class="container comment-form col-md-offset-2 col-md-8">
<%= form_for [@restaurant, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= f.button 'Reset', type: :reset, class: "btn btn-danger" %>
  </div>
<% end %>

